@import "tailwindcss";

:root{
    --terracotta:#C96A3D;
    --cream:#F8F2E8;
    --dark:#2B2B2B;
    --brown:#7D4E38;
    --gold:#D4AF37;
}

body{
    margin:0;
    background:var(--cream);
    color:var(--dark);
    font-family:'Poppins',sans-serif;
}

h1,h2,h3,h4,h5{
    font-family:'Playfair Display',serif;
}

.container-custom{
    max-width:1300px;
    margin:auto;
    padding:0 2rem;
}

.btn-primary{
    background:var(--terracotta);
    color:white;
    padding:.9rem 1.8rem;
    border-radius:12px;
    transition:.3s;
}

.btn-primary:hover{
    background:#b2572e;
}

.section{
    padding:80px 0;
}